/*========== Imports ==========*/
/*========== Imports ==========*/
/*========== Variables ==========*/
/*========== Fonts ==========*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*========== Reset CSS ==========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  color: #252525;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden !important;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/*========== Navbar CSS Start ==========*/
.navbar {
  border-bottom: 2px solid #ffffff43;
}

.navbar .navbar-brand {
  font-size: 4.3rem;
  font-weight: 900;
  color: #fff;
}

.navbar .navbar-brand .hilighted-quote-sign {
  width: 5rem;
}

.navbar .navbar-brand:hover {
  color: #fba419;
}

.navbar .nav-link {
  font-size: 1.5rem;
  margin-right: 18px;
  font-weight: 700;
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #fba419 !important;
}

/*========== Navbar CSS End ==========*/
/*========== Hero Section CSS Start ==========*/
.hero-section {
  background: rgba(0, 0, 0, 0.7);
  height: 87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero-section::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../assets/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.hero-section .hero-text {
  z-index: 1 !important;
}

.hero-section .hero-text .hero-title {
  font-size: 6.4rem;
  color: #ffffff;
  font-weight: 900;
}

.hero-section .hero-text .hero-title .hilighted {
  color: #fba419;
}

.hero-section .hero-text .hero-desc {
  font-size: 2.4rem;
  font-weight: 300;
  color: #fff;
}

.hero-section .hero-text .hero-btn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background: #fba419;
  color: #fff;
  margin-top: 3rem;
  display: inline-block;
  border: 2px solid #fba419;
  border-radius: 35px;
}

.hero-section .hero-text .hero-btn:hover {
  background: transparent;
}

/*========== Hero Section CSS End ==========*/
