/*========== Imports ==========*/
/*========== Imports ==========*/
/*========== Variables ==========*/
/*========== Fonts ==========*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*========== Reset CSS ==========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  color: #252525;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden !important;
  word-spacing: 0.2em;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 35px;
  background: #fba419;
  color: #ffffff;
  border: 2px solid #fba419;
}

.primary-btn-sm {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 35px;
  background: #fba419;
  color: #ffffff;
  border: 2px solid #fba419;
}

.primary-btn:hover,
.primary-btn-sm:hover {
  background: transparent;
  color: #fba419;
}

section {
  padding: 9rem 0;
}

.section-title {
  font-size: 5rem;
  color: #fba419;
  font-weight: 900;
}

.black-title {
  font-size: 6.5rem;
  color: #161616 !important;
}

.white-title {
  font-size: 6.5rem;
  color: #ffffff;
}

.custom-section-title {
  font-size: 5rem;
  color: #fba419;
  font-weight: 900;
  margin-bottom: 10px;
}

.section-desc {
  font-size: 1.8rem;
  font-weight: 500;
  word-spacing: 0.2em;
  color: #252525;
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/*========== Navbar CSS Start ==========*/
.navbar {
  border-bottom: 2px solid #ffffff43;
  /*========== Hamburger Menu CSS Start ==========*/
  /*========== Hamburger Menu CSS End ==========*/
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
}

.navbar .navbar-brand .hilighted-quote-sign {
  width: 3.5rem;
}

.navbar .navbar-brand:hover {
  color: #fba419;
}

.navbar .nav-link {
  font-size: 1.5rem;
  margin-right: 18px;
  font-weight: 700;
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #fba419 !important;
}

.navbar .search-item {
  position: relative;
}

.navbar .search-box {
  position: absolute;
  top: 5.8rem;
  right: 0;
  padding: 1rem;
  width: 30rem;
  border: none;
  outline: none;
  display: none;
}

.navbar .opacity {
  display: block;
}

.navbar .navbar-toggler {
  border: none;
  width: 4rem;
  height: 4rem;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-toggler-icon {
  background: #fff;
  width: 3rem;
  height: 0.5rem;
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .navbar-toggler-icon::before {
  position: absolute;
  content: '';
  width: 4rem;
  height: 0.5rem;
  top: -1.5rem;
  right: 0;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .navbar-toggler-icon::after {
  position: absolute;
  content: '';
  width: 4rem;
  height: 0.5rem;
  bottom: -1.5rem;
  right: 0;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .open {
  background: transparent;
}

.navbar .open::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  opacity: 1;
}

.navbar .open::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
  opacity: 1;
}

/*========== Navbar CSS End ==========*/
/*========== Hero Section CSS Start ==========*/
.hero-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/hero-img.png);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/hero-img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-text .hero-title {
  font-size: 6.4rem;
  color: #ffffff;
  font-weight: 900;
}

.hero-section .hero-text .hero-title .hilighted {
  color: #fba419;
}

.hero-section .hero-text .hero-desc {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

.hero-section .hero-text .hero-btn {
  padding: 1.3rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  background: #fba419;
  color: #fff;
  margin-top: 3rem;
  display: inline-block;
  border: 2px solid #fba419;
  border-radius: 35px;
}

.hero-section .hero-text .hero-btn:hover {
  background: transparent;
  color: #fba419;
}

/*========== Hero Section CSS End ==========*/
/*========== Welcome Section CSS Start ==========*/
.welcome-section .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 2rem;
  font-style: italic;
  color: #252525;
  font-weight: 300;
  margin: 6rem 0 4rem;
}

.welcome-section .quote .quote-sign {
  width: 3.7rem;
}

.welcome-section .welcome-img-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/welcome-img.png);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/welcome-img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/welcome-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-section .welcome-img-wrapper .welcome-img-text {
  font-size: 2.4rem;
}

/*========== Welcome Section CSS End ==========*/
/*========== Great Services Section CSS Start ==========*/
.great-services-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/services-bg-img.png);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/services-bg-img.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/services-bg-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.great-services-section .great-service {
  margin: 2rem 0;
}

.great-services-section .great-services-desc {
  width: 90%;
  margin-top: 3rem;
  font-size: 2rem;
}

.great-services-section .service-icon {
  width: 6rem;
}

.great-services-section .service-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fba419;
}

.great-services-section .service-desc {
  font-weight: 300;
}

/*========== Great Services Section CSS End ==========*/
/*========== Special Features Section CSS Start ==========*/
.special-features-section .marketing-img-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/creative-bg-img.png);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/creative-bg-img.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/creative-bg-img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.special-features-section .support-img-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/creative-bg-img-2.png);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/creative-bg-img-2.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/creative-bg-img-2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.special-features-section .special-feature {
  padding-top: 15rem;
}

.special-features-section .special-feature-icon-wrapper {
  height: 6.5rem;
  width: 6.5rem;
}

.special-features-section .special-feature-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fba419;
  margin: 1.5rem 2rem;
}

.special-features-section .special-feature-desc {
  font-weight: 300;
}

.special-features-section .special-feature-btn {
  margin: 3.6rem 0;
}

.special-features-section .service-list {
  padding: 0;
}

.special-features-section .service-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.special-features-section .service-list li i {
  color: #fba419;
  margin-top: -0.8rem;
}

.special-features-section .service-list li p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

/*========== Special Features Section CSS End ==========*/
/*========== Business Team Section CSS End ==========*/
.business-team-section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8))), url(../assets/team-bg-img.png);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../assets/team-bg-img.png);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../assets/team-bg-img.png);
}

.business-team-section .members-row {
  margin-top: 50px;
}

.business-team-section .members-row .member .member-img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 100%;
}

.business-team-section .members-row .member:hover .member-img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.business-team-section .members-row .member:hover .member-info {
  bottom: 0;
}

.business-team-section .members-row .member .member-info {
  background: #f8f8f8;
  border-radius: 2rem 2rem 0 0;
  bottom: -82px;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.business-team-section .members-row .member .member-info .member-name {
  font-size: 2rem;
  font-weight: bold;
}

.business-team-section .members-row .member .member-info .member-social-link {
  border: 1px solid #fba419;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fba419;
}

.business-team-section .members-row .member .member-info .member-social-link:hover {
  background: #fba419;
  color: #ffffff;
}

/*========== Business Team Section CSS End ==========*/
/*========== Served Section CSS Start ==========*/
.served-section .portfolio-wrapper .portfolio-img {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.served-section .portfolio-wrapper:hover .portfolio-img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*========== Served Section CSS End ==========*/
/*========== Case Studies Section CSS Start ==========*/
.demo {
  color: blue;
}

.case-studies-section .case-studies-wrapper {
  margin-top: 60px;
}

.case-studies-section .case-studies-wrapper .case-study {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.case-studies-section .case-studies-wrapper .case-study .hover-element {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.case-studies-section .case-studies-wrapper .case-study .hover-element .hover-element-title {
  font-size: 20px;
  color: #fba419;
}

.case-studies-section .case-studies-wrapper .case-study:hover .hover-element {
  top: 0;
}

/*========== Case Studies Section CSS End ==========*/
