/*========== Imports ==========*/

@import '_variables';

/*========== Fonts ==========*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*========== Reset CSS ==========*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body{
    color: $text-color;
    font-family: $primary-font;
    font-size: 1.6rem;
    overflow-x: hidden !important;
    word-spacing: 0.2em;

}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    transition: all 0.3s ease-in-out;
}

.primary-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 35px;
    background: $primary-color;
    color: $white-color;
    border: 1px solid $primary-color;
}

.primary-btn:hover {
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
}

section {
    padding: 9rem 0;
}

.section-title {
    font-size: 5rem;
    color: $primary-color;
    font-weight: 900;
    .black-title {
        font-size: 6.5rem;
        color: $title-color;
    }
    .white-title {
        font-size: 6.5rem;
        color: $white-color;
    }
}