/*========== Imports ==========*/

@import '_variables';

/*========== Fonts ==========*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*========== Reset CSS ==========*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body{
    color: $text-color;
    font-family: $primary-font;
    font-size: 1.6rem;
    overflow-x: hidden !important;
    word-spacing: 0.2em;

}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    transition: all 0.3s ease-in-out;
}

.primary-btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 35px;
    background: $primary-color;
    color: $white-color;
    border: 2px solid $primary-color;
}

.primary-btn-sm {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 35px;
    background: $primary-color;
    color: $white-color;
    border: 2px solid $primary-color;
}

.primary-btn:hover,
.primary-btn-sm:hover {
    background: transparent;
    color: $primary-color;
}

section {
    padding: 9rem 0;
}

.section-title {
    font-size: 5rem;
    color: $primary-color;
    font-weight: 900;
}

.black-title {
    font-size: 6.5rem;
    color: $title-color !important;
}

.white-title {
    font-size: 6.5rem;
    color: $white-color;
}

.custom-section-title {
    font-size: 5rem;
    color: $primary-color;
    font-weight: 900;
    margin-bottom: 10px;
}

.section-desc {
    font-size: 1.8rem;
    font-weight: 500;
    word-spacing: 0.2em;
    color: $text-color;
}