/*========== Variables ==========*/

$primary-font: 'Lato', sans-serif;


$primary-color: #fba419;
$primary-alt-color: #e98f00;
$title-color: #161616;
$text-color: #252525;
$white-color: #ffffff;


$black-overlay-color: #000000;

