/*========== Imports ==========*/

@import '_reset';
@import '_animations'; 

/*========== Navbar CSS Start ==========*/
.navbar {
    border-bottom: 2px solid #ffffff43;
    .navbar-brand {
        font-size: 4.3rem;
        font-weight: 900;
        color: #fff;
        .hilighted-quote-sign {
            width: 5rem;
        }
        &:hover {
            color: $primary-color;
        }
    }
    .nav-link {
        font-size: 1.5rem;
        margin-right: 18px;
        font-weight: 700;
        color: #ffffff !important;
        &:hover {
            color: $primary-color !important;
        }
    }
}

/*========== Navbar CSS End ==========*/

/*========== Hero Section CSS Start ==========*/
.hero-section {
    background: rgba($color: #000000, $alpha: 0.7);
    height: 87rem;
    display: flex;
    align-items: center;
    position: relative;
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url(../assets/hero-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
    }   
    .hero-text {
        z-index: 1 !important;
        .hero-title {
            font-size: 6.4rem;
            color: #ffffff;
            font-weight: 900;
            .hilighted {
                color: $primary-color;
            }
        }
        .hero-desc {
            font-size: 2.4rem;
            font-weight: 300;
            color: #fff;
        }
        .hero-btn {
            padding: 1.5rem 3rem;
            font-size: 2rem;
            background: $primary-color;
            color: #fff;
            margin-top: 3rem;
            display: inline-block;
            border: 2px solid $primary-color;
            border-radius: 35px;
            &:hover {
                background: transparent;
            }
        }

    }
}
/*========== Hero Section CSS End ==========*/
