/*========== Imports ==========*/

@import '_reset';
@import '_animations'; 

/*========== Navbar CSS Start ==========*/
.navbar-brand {
    font-size: 4.3rem;
    font-weight: 900;
}
.nav-link {
    font-size: 1.5rem;
    font-weight: 700;
}
/*========== Navbar CSS End ==========*/
